@import './components/sassColors/colorThemes';
.App {
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    height: 90vh;
}