@import "styles/colorThemes";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, $pageBgColor1, $pageBgColor2, $pageBgColor1);
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  height: 90vh;
}

.Content {
  padding-top: 3%;
  background-color: $contentColor;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
