@import "../../../styles/colorThemes";
@font-face {
    font-family: "BigMacca";
    src: url("../../../assets/fonts/bigmacca.ttf");
}

.NavBar {
    font-family: "BigMacca", sans-serif;
    grid-column: span 3;
    //overflow: hidden;
    & nav {
        grid-column: span 3;
        & ul {
            display: flex;
            justify-content: end;
            margin-right: 2%;
            & li {
                list-style: none;
                margin: 0px 5px;
                & div {
                    & a {
                        display: flex;
                        border-radius: 5px;
                        padding: 20px 20px;
                        text-decoration: none;
                        color: $letterColor;
                        font-size: 200%;
                        transition: all 150ms;
                        background-color: $nonSelectedNav;
                        &:hover {
                            background-color: $contentColor;
                            box-shadow: 0px 0px 5px $shadow;
                            transition: all 150ms;
                        }
                        &.active {
                            background-color: $contentColor;
                            transition: all 150ms;
                        }
                    }
                }
            }
        }
    }
}