//Palette
$paletteColor1:#000000;
$paletteColor2:#2F130A;
$paletteColor3:#542916;
$paletteColor4:#F1A656;
$paletteColor5:#B5783F;
$paletteColor6:#0B2220;
$paletteColor7:#0D2B2F;
$paletteColor8:#09A9AA;
$paletteColor9:#5D94A2;
$paletteColor10:#D1D8F5;
$shadow:rgb(40, 40, 40);
//components colors
$letterColor:$paletteColor1;
$pageBgColor1:$paletteColor2;
$pageBgColor2:$paletteColor3;
$menuColor:$paletteColor10;
$contentColor:$paletteColor4;
$nonSelectedNav:$paletteColor5;
//player card colors
$circularPathColor: $paletteColor3;
$circularTextColor: $paletteColor3;