//Palette
$paletteColor1: #000000;
$paletteColor2: #2f130a;
$paletteColor3: #542916;
$paletteColor4: #f1a656;
$paletteColor5: #b5783f;
$paletteColor6: #0b2220;
$paletteColor7: #0d2b2f;
$paletteColor8: #09a9aa;
$paletteColor9: #5d94a2;
$paletteColor10: #d1d8f5;
$shadow: rgb(40, 40, 40);
//components colors
$letterColor: $paletteColor1;
$pageBgColor1: $paletteColor2;
$pageBgColor2: $paletteColor3;
$menuColor: $paletteColor10;
$contentColor: $paletteColor4;
$nonSelectedNav: $paletteColor5;
//player card colors
$circularPathColor: $paletteColor3;
$circularTextColor: $paletteColor3;
